@model IEnumerable<Vize_Ödevi.Models.Siparisler>

@{
    ViewData["Title"] = "Listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sipariş Listesi</h1>

<p>
    <a asp-action="yeni">Yeni Kayıt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Sipariş ID
            </th>
            <th>
                Ürün ID
            </th>
            <th>
               Müşteri ID
            </th>
            <th>
                Tarih
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.urunId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.musteriId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tarih)
            </td>
            <td>
                @Html.ActionLink("Güncelle", "Guncelle", new { id = item.Id }) |
                @Html.ActionLink("Detay", "Detay", new { id = item.Id }) |
                @Html.ActionLink("Sil", "Sil", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
